@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700|Roboto:400,400i,700,700i');

h1, h2, h3, h4 {
  font-family: 'Quicksand', sans-serif !important;
}

h1 {
  color:#4f6d68 !important;
}

h2 {
  color:#7BAEA5 !important;
  margin-left:2%;
  margin-right:2%;
}

h3 {
  color:#a99da0 !important;
  font-size:1.5rem !important;
  margin-left:4%;
  margin-right:4%;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  font-weight:normal;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: 'Quicksand', sans-serif;
  font-weight:light;
}

.navbar-brand {
  font-family: 'Quicksand', sans-serif;
  font-weight:light;
}

.acf-field .acf-label label {
  font-family: 'Quicksand', sans-serif !important;
  color:#7BAEA5 !important;
  font-weight:normal !important;
}

.acf-field p.description {
  font-size:0.9rem;
  font-style:italic;
  color:#a99da0 !important;
}

.acf-field.acf-accordion .acf-accordion-title {
  background-color: #d9eeea;
  margin-bottom:20px;
}

.acf-accordion .acf-accordion-title label {
  font-size:1rem !important;
}

.acf-field input[type="text"], .acf-field input[type="password"], .acf-field input[type="number"], .acf-field input[type="search"], .acf-field input[type="email"], .acf-field input[type="url"], .acf-field textarea, .acf-field select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.acf-input-prepend, .acf-input-append {
  height:28px !important;
}

/* horse profile page */

.profile-info dt {
  font-family: 'Quicksand', sans-serif !important;
  font-weight:normal !important;
  text-align:right;
  color:#4f6d68 !important;
}

.profile-info .card-title {
  font-family: 'Quicksand', sans-serif !important;
  color:#4f6d68 !important;
  font-size:1.5rem;
}

.profile-info .card-text:last-child {
  font-family: 'Quicksand', sans-serif !important;
  font-style:italic;
}

.horse-profile-pills {
  background-color: #d9eeea;
  border-radius:5px;
}

.profile-points strong {
  font-family: 'Quicksand', sans-serif !important;
  color:#4f6d68 !important;
}

.profile-points .progress {
  margin-top: 5px;
  margin-bottom: 15px;
}

#pills-edit-horse .acf-fields.acf-form-fields > div {
    width: 100% !important;
    clear: both;
    border: 0px solid transparent;
}

/* UUDET */

.pedigree {
  width:100%;
  border-spacing:8px;
  border-collapse: separate;
  border:0 solid transparent;
}

.pedigree td {
  padding:3px;
  text-align:center;
  background-color:#eee;
  border-radius:15px;
  width:33%;
}

.horse-profile-main-tabs {
  background-color: #f7f7f7;
  padding: 0 20px;
}

.rmp-progress {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
  box-sizing: content-box;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  margin-bottom:10px;
}

.rmp-progress > div {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  text-align:center;
  line-height: 1.1;
}

.rmp-progress > div > span {
  color:#fff;
  font-size:12px;
  text-align:center;
}

.rmp-green > div {
  background-color: #5cd06a;
  background-image: linear-gradient(to bottom, #5cd06a, #2bbf54);
}

.rmp-blue > div {
  background-color: #5d84dc;
  background-image: linear-gradient(to bottom, #5d84dc, #376dc3);
}

.rmp-orange > div {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.rmp-red > div {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}
